<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">

<footer>
  <div class="social-container">
    <p>Socialize with me</p>
    <div class="social-icons">

      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-youtube"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>
  <div class="row">
     <div class="col-md-4">

     </div>
     <div class="col-md-4">
       <h3>newsletter</h3>
       <div class="form-group">
  <label >Email:</label>
  <input type="text" class="form-control"placeholder="" >
</div>
     </div>
     <div class="col-md-4">
       <h3>Information</h3>
       <p><i class="fa fa-location-arrow" aria-hidden="true"></i>Tunis, Ben Arous, New Medina 3</p>
       <p><i class="fa fa-envelope-o" aria-hidden="true"></i>ziedmedia@support.com</p>
       <p><i class="fa fa-phone" aria-hidden="true"></i>+216 75 345 872</p>

     </div>
  </div>
</footer>
