


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AngularClient</title>



  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!-- Bootstrap cdn -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

  {{> header}}
    
      {{{body}}}
    
{{> footer}}
   


<!-- bootstrap cdn  -->

    <!-- Font AWsome -->
    <script src="https://use.fontawesome.com/c3b6c7d70e.js"></script>
    <!-- Auth0 CDn -->
    <script type="text/javascript" src="https://cdn.auth0.com/js/lock/10.13/lock.min.js"></script>
    <script src="node_modules/auth0-js/build/auth0.js"></script>
    <script src="node_modules/angular-lock/dist/angular-lock.js"></script>
    <script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

 